
<div class="marks">

  <%# <div class="buttons btn-back-to-plants">
    <%= link_to "<< Back to plants", plants_path, class: "btn btn-ghost" %>
  <%# </div> %>

  <div class="mark-titles">
    <h1>Marks & Matches</h1>
  </div>

  <div class="my-marks">
      <% Match.all.each do |match| %>
      <div class="match">

          <%= match.user_1.username %>
          <div class="plant-bg" style="background-image: url('<%= cl_image_path match.plant_1.photo.key, height: 320, width: 240, crop: :fill %>')">
          </div>
          <%= match.user_2.username %>
          <div class="plant-bg" style="background-image: url('<%= cl_image_path match.plant_2.photo.key, height: 320, width: 240, crop: :fill %>')">
          </div>
          
        </div>
      <% end %>

    <div class="carousel-marks">
      <div>

      </div>

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% current_user.marks.each_with_index do |mark, index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
                <%= link_to mark_path(mark) do %>
                    <%# <%= cl_image_tag plant.photo.key, height: 280, width: 280, crop: :fill %>
                <% end %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= link_to mark_path(mark) do %>

                    <%# <%= cl_image_tag plant.photo.key, height: 280, width: 280, crop: :fill %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

  </div>
</div>
