
<div class="marks">

  <%# <div class="buttons btn-back-to-plants">
    <%= link_to "<< Back to plants", plants_path, class: "btn btn-ghost" %>
  <%# </div> %>

  <div class="mark-titles">
    <h1>Marks & Matches</h1>
  </div>

  <div class="my-marks">
    <div class="mark-tittle"><h1>This are your latest matches:  </h1></div>
    <div class="matches-disp">
      <% if @matches.first.nil? %>
        <p>Test</p>
      <% else %>
        <% @matches.uniq.each do |match| %>
            <div class="d-flex">
              <div class="plant-mark-1" style="background-image: url('<%= cl_image_path match.plant_1.photo.key, height: 220, width: 140, crop: :fill %>')">
                <%# <h5><strong><%= match.plant_1.name %>
                <h1><i class="fa-solid fa-infinity fa-2x"></i></h1>
              </div>
              <div class="plant-mark-2" style="background-image: url('<%= cl_image_path match.plant_2.photo.key, height: 220, width: 140, crop: :fill %>')">
                <%# <h5><strong><%= match.plant_2.name %>
                <%# <i class="fa-solid fa-infinity fa-2x"></i> %>
              </div>
            </div>
        <% end %>

      <% end %>
    </div>
    <div class="mark-tittle-2"><h1>Your Marks:  </h1></div>
    <div class="carousel-marks">

      <div id="carouselMarks" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% current_user.marks.each_with_index do |mark, index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
                <%= link_to mark_path(mark) do %>
                  <%= cl_image_tag mark.plant.photo.key, height: 280, width: 280, crop: :fill %>
                <% end %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= link_to mark_path(mark) do %>
                  <%= cl_image_tag mark.plant.photo.key, height: 280, width: 280, crop: :fill %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselMarks" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselMarks" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

  </div>
</div>
