
<div class="marks overflow-scroll">

  <%# <div class="buttons btn-back-to-plants">
    <%= link_to "<< Back to plants", plants_path, class: "btn btn-ghost" %>
  <%# </div> %>

  <div class="mm-title">
    <h1>Marks & Matches</h1>
  </div>


  <div class="mm-container">
    <div class="matches-container">
      <div class="m-title">
        <h1>Your Matches</h1>
      </div>
      <div class="matches-disp">
        <% if @matches.first.nil? %>
          <p>Sorry, you have no matches...yet!</p>
        <% else %>
          <% @matches.uniq.each do |match| %>
            <div class="d-flex">
              <div class="plant-mark-1" style="background-image: url('<%= cl_image_path match.plant_1.photo.key, height: 220, width: 140, crop: :fill %>')">
                <%# <h5><strong><%= match.plant_1.name %>
                <h1><i class="fa-solid fa-infinity fa-2x"></i></h1>
              </div>
              <div class="plant-mark-2" style="background-image: url('<%= cl_image_path match.plant_2.photo.key, height: 220, width: 140, crop: :fill %>')">
                <%# <h5><strong><%= match.plant_2.name %>
                <%# <i class="fa-solid fa-infinity fa-2x"></i> %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="marks-container">
      <div class="m-title" id="your-marks">
        <h1>Your Marks</h1>
      </div>
      <div class="carousel-marks">
      <% if current_user.marks.first.nil? %>
          <p>You haven't marked any plant yet.
            <span>
              <%= link_to "Check these cuties out!", plants_path, style: "color: goldenrod" %>
            </span>
          </p>
        <% else %>
        <div id="carouselMarks" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% current_user.marks.each_with_index do |mark, index| %>
              <% if index == 0 %>
                <div class="carousel-item active">
                  <%= link_to mark_path(mark) do %>
                    <%= cl_image_tag mark.plant.photo.key, height: 180, width: 180, crop: :fill %>
                  <% end %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= link_to mark_path(mark) do %>
                    <%= cl_image_tag mark.plant.photo.key, height: 180, width: 180, crop: :fill %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselMarks" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselMarks" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
      </div>
    </div>

  </div>
</div>
