<%# <div class="content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path plant.photo.key, height: 300, crop: :fill %>

<div class="content">
  <%# <img  class="image" src=../assets/images/fukayamamo-BBmyspFyRWs-unsplash /> %>
  <%# <img  class="image" src="https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80" /> %>
  <%# <%= cl_image_tag plant.photo.key, :transformation=>[
  {:effect=>"trim"},
  {:width=>"296", :height=>"300", :crop=>"lpad"},
  {:border=>"4px_solid_gold"}
  ] %>

  <div class="mycard" id="plant-<%= plant.id %>">
    <div class="card-name">
      <h2><%=link_to plant.name, plant_path(plant)%></h2>
    </div>
    <%# inline if  statement to hide mark for the user %>
    <div class="buttons-card">
    <% if !current_user.plants.include?(plant) %>
      <% if mark.present? %>
        <%= link_to mark_path(mark), data: {turbo_method: :delete } do %>
          <i class="fa-solid fa-heart btn"></i>
        <% end %>
      <% else %>
        <%= simple_form_for [plant, Mark.new], html: { class: "d-inline-block" } do |f| %>
          <%= hidden_field_tag "last_action", action_name %>
          <%= f.button :button do %>
            <i class="fa-regular fa-heart"></i>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

      <i class="fa-regular fa-compass"></i>
      <%# <i class="fa-regular fa-circle-user"></i> %>
      <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      <%# <%= link_to "a", plants_path %>
    </div>
  </div>
</div>
