<div class="swiper-slide">
      <%= link_to plant_path(plant) do %>
        <%= cl_image_tag plant.photo.key, height: 400, width: 300, crop: :fill, class: "swiper-image" %>
      <% end %>
      <div class="swiper-pagination swiper-custom-pagination"></div>
      <div class="button-grid"><i class="fa fa-th-large fa-xl icon-auto-color"></i></div>

  <div class="my-swipe-card" id="plant-<%= plant.id %>">
    <div class="swiper-buttons-card">
      <div class="swipe-card-name">
        <h2><%=link_to plant.name, plant_path(plant)%></h2>
      </div>
    <% if !current_user.plants.include?(plant) %>
      <% mark = current_user.marks.find_by(plant: plant) %>
      <% if mark.present? %>
        <%= link_to plant_mark_path(plant, mark), data: { turbo_method: :delete } do %>
          <i class="fa-solid fa-2x fa-heart btn"></i>
        <% end %>
      <% else %>
        <%= simple_form_for [plant, Mark.new], html: { class: "d-inline-block" } do |f| %>
          <%= hidden_field_tag "last_action", action_name %>
          <%= f.button :button do %>
            <i class="fa-regular fa-2x fa-heart"></i>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

      <%= link_to map_path(plant, lat: plant.latitude, lng: plant.longitude) do %>
        <i class="fa-regular fa-2x fa-compass"></i>
      <% end %>
      <%# <i class="fa-regular fa-circle-user"></i> %>
      <%= link_to user_path(plant.user) do %>

        <%= cl_image_tag plant.user.photo.key, class: "card-trip-user avatar-bordered-sw", width: 33, height: 33, crop: :fill %>

      <% end %>

    </div>
  </div>
</div>
