<div class="navbar navbar-sprouts navbar-expand-sm navbar-default navbar-lewagon">
  <div class="container-fluid" style="width: 100vw; display: flex; justify-content: center;">
      <ul style="display:flex;list-style: none">
        <% if user_signed_in? %>
          <li class="nav-item active" inlstyle="margin:5px 0px 0px;">
            <%= link_to plants_path, class: "navbar-brand" do %>
              <%# <%= image_tag "home.png" %>
              <i class="fa-solid fa-house fa-lg"></i>
            <% end %>
          </li>

          <li class="nav-item active" inlstyle="margin:5px 0px;">
            <%= link_to chatrooms_path, class: "navbar-brand" do %>
              <i class="fa-solid fa-comments fa-lg"></i>
            <% end %>
          </li>

          <li class="nav-item active" inlstyle="margin:5px 0px;">
            <%= link_to new_plant_path, class: "navbar-brand" do %>
              <%# <%= image_tag "post.png" %>
              <i class="fa-solid fa-seedling fa-lg"></i>
            <% end %>
          </li>

          <li class="nav-item active" inlstyle="margin:5px 0px;">
            <%= link_to marks_path, class: "navbar-brand" do %>
              <%# <%= image_tag "mark.png" %>
              <i class="fa-solid fa-heart fa-lg"></i>
            <% end %>
          </li>

          <li class="nav-item active" inlstyle="margin:5px 0px;">
            <%= link_to user_path(current_user), class: "navbar-brand" do %>
              <%# <%= image_tag "profile.png" %>
              <i class="fa-solid fa-user fa-lg"></i>
            <% end %>
          </li>

        <% else %>
          <% unless current_page?(new_user_registration_path) %>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
          <% if current_page?(new_user_registration_path) %>
            <li class="nav-item" style="margin-left: 10px;">
              <%= link_to "Back to Login", new_user_session_path, class: "nav-link", style: "padding-bottom: 18px; height: 10px;"%>
            </li>
          <% end %>
        <% end %>
      </ul>

  </div>
</div>
