<div class="search-form">
  <div class="container row justify-content-center">
    <%= form_with url: plants_path, method: :get, class: "d-flex col-12 py-3" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "We grow together!"
      %>
      <%# <%= submit_tag "🌿", class: "btn-sprouts fa-solid" %>
      <button class="btn-sprouts">
        <i class="fa-solid fa-leaf fa-1.5x"></i>
      </button>
    <% end %>

  </div>
  <div class="btn-map">
    <%= link_to map_path do %>
      <i class="far fa-map fa-2x"></i>
    <% end %>
  </div>
</div>

    <% if params[:query] %>
        <h4 class="text-center"><%= "Did you find your new plant?" %></h4>
    <% end %>
