
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1551970634-747846a548cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" />
  <div class="card-trip-infos">
    <div class="card-trip-user avatar-bordered"
  style="background-image: url('<%= cl_image_path @user.photo.key, width: 100, height: 100, crop: :fill %>')">
  </div>
  <div>
  <div class="log-out">
      <ul style="display:flex;list-style: none">
        <% if user_signed_in? %>
        <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            <% end %>
        </li>
    </div>
        <h2 id="username"><strong><%= @user.username %></strong></h2>
    </div>
    <div class="about-me">
      <h2>About Me</h2>
      <p><%= @user.description %></p>
    </div>
    <div class="my-collection">
      <%# <h2>My Collection</h2> %>
      <div class="user-plants-collection">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @user.plants.each_with_index do |plant, index| %>
              <% if index == 0 %>
                <div class="carousel-item active">
                  <%= link_to plant_path(plant) do %>
                     <%= cl_image_tag plant.photo.key, height: 280, width: 280, crop: :fill %>
                  <% end %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= link_to plant_path(plant) do %>
                   <%= cl_image_tag plant.photo.key, height: 280, width: 280, crop: :fill %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <%# <%= link_to "Add a review ðŸ“",  new_user_review_path(@user) %>
    </div>
  </div>
</div>
