<div class="input-form-new-plant">
  <div class="form-column">

  <%= simple_form_for(plant, html: { id: :tame_form })  do |f| %>

      <%= f.label :name  %>
      <%= f.text_field :name %>

      <%= f.label :category %>
      <%= f.text_field :category %>

      <div class="star-rating">
      <div class="star-rating__wrap">
        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
        <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
      </div>
    </div>

      <%= f.label :watering, class: "input input-width" %>
      <%= f.text_field :watering, class: "input" %>

      <%= f.label :temperature, class: "input input-width" %>
      <%= f.text_field :temperature, class: "input" %>

      <%= f.label :address, class: "input input-width" %>
      <%= f.text_field :address, class: "input" %>

      <div class="p-4 mt-6 d-flex justify-content-center">
        <%= f.file_field :photo, class: "btn button-create file-width-fix"%>
      </div>

      <div class="p-4 justify-content-center">
        <%# <%= f.submit class: "btn button-create fa-solid fa-tree" %>
        <%= f.button :button, class: "my-button" do %>
          <i class="fa-solid fa-tree"></i>
        <% end %>
      </div>

  <% end %>

  </div>
</div>
