<div class="container">

  <%= render "layouts/shared/search-form"  %>

</div>
<div class="sprouts-name">
  <h1>SPROUTS</h1>
</div>
<%# <% @chatroom = Chatroom.where(user_1: current_user, plant: plant) %>
<%= link_to chatroom_path(@chatroom)  do %>
  <p class="notice row col-12 justify-content-center"><%= notice %></p>
<% end %>
<div class="cards">
  <% @plants.each do |plant| %>

  <% mark = @marks.to_a.find{ |mark| mark.plant_id == plant.id } %>
  <%= render "layouts/shared/card_index", mark: mark, plant: plant  %>

  <% end %>
</div>

    <%# <% data-controller="map" %>
  <%# data-map-markers-value="<%= @markers.to_json %>
  <%# data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>
<%# </div> %>
