<div class="container search-container">
    <%= render "layouts/shared/search-form"  %>
    <%= link_to chatroom_path(Chatroom.last) do %>
    <p class="notice-match row col-12 justify-content-center"><%= notice %></p>
  <% end %>
</div>


<div class="sprouts-name d-flex justify-content-center align-items-center logo-container">
  <%= image_tag "monstera.png", class: "logo-image" %>
  <%= link_to plants_path, class: "sprouts-name", id: "sprouts-toggle" do %>
    <h1 class="sprouts-text">SPROUTS </h1>
  <% end %>
</div>

<div class="swiper-container">
  <div class="swiper" style="display:inline-block;">
    <div class="swiper-wrapper">
    <!-- Additional required wrapper -->
      <!-- Slides -->
      <% @plants.each do |plant| %>
          <% mark = @marks.to_a.find{ |mark| mark.plant_id == plant.id } %>
          <%= render "layouts/shared/card_swiper", mark: mark, plant: plant %>
          <!-- If we need pagination -->
      <% end %>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- If we need scrollbar -->
    <%# <div class="swiper-scrollbar"></div> %>
  </div>
</div>

  <div class="cards grid-cards" style="display:none;">
    <% @plants.each do |plant| %>
      <% mark = @marks.to_a.find{ |mark| mark.plant_id == plant.id } %>
      <%= render "layouts/shared/card_index", mark: mark, plant: plant  %>
    <% end %>
  </div>

<script>
  var buttonGrid = document.querySelectorAll('.button-grid');
  var buttonSwipe = document.querySelectorAll('.button-swipe');
  var swipeView = document.querySelector('.swiper');
  var cardsView = document.querySelector('.cards');
  var sproutsToggle = document.getElementById('sprouts-toggle');

  function toggleViews() {
    if (swipeView.style.display === 'inline-block') {
      cardsView.style.display = 'grid';
      swipeView.style.display = 'none';
    } else {
      swipeView.style.display = 'inline-block';
      cardsView.style.display = 'none';
    }
  }

  buttonGrid.forEach(function (item) {
    item.addEventListener('click', toggleViews);
  });

  buttonSwipe.forEach(function (item) {
    item.addEventListener('click', toggleViews);
  });

  sproutsToggle.addEventListener('click', function (event) {
    event.preventDefault();
    toggleViews();
  });
</script>
