<%= render "layouts/shared/search-form"  %>
<%= link_to chatroom_path(Chatroom.last) do %>
  <p class="notice-match row col-12 justify-content-center"><%= notice %></p>
<% end %>
<div class="middler">

    <!-- side menu -->
<div class="side-menu side-menu-collapsible">
  <div class="buttons-name">
    <h6><%= @plant.name %></h6>
  </div>

  <% if !current_user.plants.include?(@plant) %>
    <% if @mark.present? %>
      <div class="icon-wrapper">
        <%= link_to mark_path(@mark), data: {turbo_method: :delete }, class: "btn" do %>
          <i class="fa-solid fa-heart fa-3x"></i>
        <% end %>
      </div>
    <% else %>
      <div class="icon-wrapper">
        <%= simple_form_for [@plant, Mark.new] do |f| %>
          <%= f.button :button do %>
            <i class="fa-regular fa-heart fa-3x"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= link_to map_path(@plant) do %>
    <i class="fa-regular fa-compass fa-3x"></i>
  <% end %>
  <%= link_to user_path(@plant.user) do %>
    <% cl_image_tag @plant.user.photo.key, class:"avatar-bordered-marks", width: 80, height: 80, crop: :fill %>
  <% end %>
</div>

  <div class="plant-card" data-controller="plant-card flipcard">
    <div class="card">
      <div class="card__face card__face--front">
        <div class="plant-bg" style="background-image: url('<%= cl_image_path @plant.photo.key, height: 480, width: 400, crop: :fill %>')">
        </div>
      </div>

        <div class="backcard backcard--back">
          <div class="flipreverse">
            <div class="plant-bg-back" style="background-image: url('<%= cl_image_path @plant.photo.key, height: 480, width: 400, crop: :fill %>')">
            </div>
            <div class="backcard-description">
              <h3> <strong><%= @plant.name %> </strong></h3>
              <h4> Category: <strong><%= @plant.category %></strong></h4>
              <h5> Lighting: <%= @plant.lighting %> </h5>
              <h5> Watering: <%= @plant.watering %></h5>
              <h5> Temperature: <%= @plant.temperature %></h5>
              <h5> Location: <%= @plant.address %></h5>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
