<%= render "layouts/shared/search-form"  %>

<div class="middler">

  <div class="plant-card">
    <div class="card">
      <div class="card__face card__face--front">

        <div class="plant-bg" style="background-image: url('<%= cl_image_path @plant.photo.key, height: 480, width: 400, crop: :fill %>')">
        </div>

        <div class="plant-action">
          <div class="buttons-name">
            <h6><%= @plant.name %></h6>
          </div>

          <div class="icons w-100 justify-content-around px-4 py-1">
            <% if !current_user.plants.include?(@plant) %>
              <% if @mark.present? %>
                <div class="icon-wrapper">
                  <%= link_to mark_path(@mark), data: {turbo_method: :delete }, class: "btn" do %>
                    <i class="fa-solid fa-heart fa-3x"></i>
                  <% end %>
                </div>
              <% else %>
                <div class="icon-wrapper">
                  <%= simple_form_for [@plant, Mark.new] do |f| %>
                    <%= f.button :button do %>
                      <i class="fa-regular fa-heart fa-3x"></i>
                    <% end %>
                  <% end %>

                </div>
              <% end %>
            <% end %>
            <%= link_to map_path(@plant) do %>
              <i class="fa-regular fa-compass fa-3x"></i>
            <% end %>
            <%= link_to user_path(@plant.user) do %>
              <%# <img class="avatar-bordered-marks" style="background-image: url('<%= cl_image_path @plant.user.photo.key,width: 60, height: 60, crop: :fill %>
              <%= cl_image_tag @plant.user.photo.key,width: 60, height: 60, crop: :fill, class:"card-trip-user avatar-bordered-marks" %>
            <% end %>
          </div>

        </div>

      </div>
      <div class="backcard backcard--back">
        <div class="flipreverse">
          <div class="plant-bg-back" style="background-image: url('<%= cl_image_path @plant.photo.key, height: 480, width: 400, crop: :fill %>')">
          </div>
          <div class="backcard-description">
            <h3> <strong><%= @plant.name %> </strong></h3>
            <h4> Category: <strong><%= @plant.category %></strong></h4>
            <h5> Lighting: <%= @plant.lighting %> </h5>
            <h5> Watering: <%= @plant.watering %></h5>
            <h5> Temperature: <%= @plant.temperature %></h5>
            <h5> Location: <%= @plant.address %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>





<script>
var cards = document.querySelectorAll('.card');
let backcard = document.querySelector('.backcard--back')

console.log(backcard)

cards.forEach((card)=>{
  card.addEventListener( 'click', function() {
    card.classList.toggle('is-flipped');
    setTimeout(() => {
       backcard.classList.toggle("transform")
    }, 300);

  });
});
</script>
